extends index.pug

block content
    h2 Mis grupos
    .table-responsive
    table.table.table-striped.table-sm
          thead
            tr
              th Lugares
          tbody
          each lugar in v 
            tr  
            td #{lugar}
             
             